.editor-container {
	display: block;
	position: relative;
	padding-right: 4.5em;
	margin: 1em 4em;
}


.editor-toolbar {
	position: absolute;
	right: 0;
	top: 1em;
} 

.editor-toolbar .btn-toolbar {
	margin: 0 0 0 -40px;
	padding: 0;
	width: 0;
}
.editor-toolbar .btn-toolbar .btn-group {
	margin-bottom: 12px;
}
.editor-toolbar .btn-group-vertical > .btn:first-child {
	border-top-right-radius: 0.25rem;
}
.editor-toolbar .btn-group-vertical > .btn:last-child {
	border-bottom-left-radius: 0.25rem;
}

.editor-chart-information {
	margin-bottom: 1em;
}
.editor-chart-settings, .editor-chart-controls, .editor-chart-count-controls {
	display: inline;
}
.editor-chart-settings a.btn.btn-default, .editor-chart-controls a.btn.btn-default, .editor-chart-count-controls a.btn.btn-default  {
	margin-right: .5em;
}
.editor-chart-count-controls {
	float: right;
}

/* Default buttons */
.btn-toolbar .btn-default,
.editor-chart-information .btn-default {
	background: #FFF;
	border: 1px solid #999;
}
.btn-toolbar .btn-default:hover,
.btn-toolbar .btn-default:focus,
.btn-toolbar .btn-default:active,
.btn-toolbar .btn-default.active,
.editor-chart-information .btn-default:hover,
.editor-chart-information .btn-default:focus,
.editor-chart-information .btn-default:active,
.editor-chart-information .btn-default.active {
	background: rgba(238, 238, 238, 0.75);
	border-color: #cccccc;
}
.btn-toolbar .btn-default.disabled,
.editor-chart-information .btn-default.disabled {
	color: #606060;
	background: rgba(238, 238, 238, 0.5); 
}
.btn-toolbar .btn-default,
.btn-toolbar .btn-default:visited,
.editor-chart-information .btn-default,
.editor-chart-information .btn-default:visited {
	color: #232323; 
}